Parsed function:Power_Ip_PMC_PowerInit
Dump after hash based groups
Congruence classes: 1 (unique hash values: 1), with total: 1 items
Class size histogram [num of members]: number of classe number of classess
[1]: 1 classes


Dump after WPA based types groups
Congruence classes: 1 (unique hash values: 1), with total: 1 items
Class size histogram [num of members]: number of classe number of classess
[1]: 1 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Dump after callgraph-based congruence reduction
Congruence classes: 1 (unique hash values: 1), with total: 1 items
Class size histogram [num of members]: number of classe number of classess
[1]: 1 classes


Init called for 0 items (0.00%).
Dump after full equality comparison of groups
Congruence classes: 1 (unique hash values: 1), with total: 1 items
Class size histogram [num of members]: number of classe number of classess
[1]: 1 classes


Worklist has been filled with: 0
Address reference subdivision created: 0 new classes.
Congruence classes: 1 (unique hash values: 1), with total: 1 items
Class size histogram [num of members]: number of classe number of classess
[1]: 1 classes



Item count: 1
Congruent classes before: 1, after: 1
Average class size before: 1.00, after: 1.00
Average non-singular class size: 0.00, count: 0
Equal symbols: 0
Fraction of visited symbols: 0.00%

Power_Ip_PMC_PowerInit (const struct Power_Ip_PMC_ConfigType * pConfigPtr)
{
  uint8 u8Tmp;
  unsigned char _1;
  unsigned char _2;
  unsigned char _3;

  <bb 2> [local count: 1073741824]:
  # DEBUG BEGIN_STMT
  # DEBUG BEGIN_STMT
  u8Tmp_5 ={v} MEM[(struct PMC_Type *)1074253824B].LVDSC1;
  # DEBUG u8Tmp => u8Tmp_5
  # DEBUG BEGIN_STMT
  u8Tmp_6 = u8Tmp_5 & 15;
  # DEBUG u8Tmp => u8Tmp_6
  # DEBUG BEGIN_STMT
  _1 = pConfigPtr_7(D)->u8Lvdsc1;
  u8Tmp_8 = _1 | u8Tmp_6;
  # DEBUG u8Tmp => u8Tmp_8
  # DEBUG BEGIN_STMT
  MEM[(struct PMC_Type *)1074253824B].LVDSC1 ={v} u8Tmp_8;
  # DEBUG BEGIN_STMT
  u8Tmp_10 ={v} MEM[(struct PMC_Type *)1074253824B].LVDSC2;
  # DEBUG u8Tmp => u8Tmp_10
  # DEBUG BEGIN_STMT
  u8Tmp_11 = u8Tmp_10 & 31;
  # DEBUG u8Tmp => u8Tmp_11
  # DEBUG BEGIN_STMT
  _2 = pConfigPtr_7(D)->u8Lvdsc2;
  u8Tmp_12 = _2 | u8Tmp_11;
  # DEBUG u8Tmp => u8Tmp_12
  # DEBUG BEGIN_STMT
  MEM[(struct PMC_Type *)1074253824B].LVDSC2 ={v} u8Tmp_12;
  # DEBUG BEGIN_STMT
  u8Tmp_14 ={v} MEM[(struct PMC_Type *)1074253824B].REGSC;
  # DEBUG u8Tmp => u8Tmp_14
  # DEBUG BEGIN_STMT
  u8Tmp_15 = u8Tmp_14 & 56;
  # DEBUG u8Tmp => u8Tmp_15
  # DEBUG BEGIN_STMT
  _3 = pConfigPtr_7(D)->u8Regsc;
  u8Tmp_16 = _3 | u8Tmp_15;
  # DEBUG u8Tmp => u8Tmp_16
  # DEBUG BEGIN_STMT
  MEM[(struct PMC_Type *)1074253824B].REGSC ={v} u8Tmp_16;
  return;

}


